In [1]:
import pandas as pd
import numpy as np

In [ ]:
#ACTORES

In [5]:
data_original_actores=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/actor.csv",sep=',', encoding='latin-1')

In [79]:
#check repetitive values in actores --> drop column


nan_cols_actores = data_original_actores.isna().sum()
data_original_actores.drop(['last_update'], axis=1, inplace= True)

In [ ]:
#CATEGORY

In [6]:
data_original_category=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/category.csv",sep=',', encoding='latin-1')

In [80]:
#check repetitive values in category --> drop column


nan_cols_category = data_original_category.isna().sum()
data_original_category.drop(['last_update'], axis=1, inplace= True)

In [108]:
#change column name from "name" to "genere"
data_original_category.rename(columns = {'genere':'genre'}, inplace = True)

In [ ]:
#FILM

In [42]:
data_original_film=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/film.csv",sep=',', encoding='latin-1')

In [67]:
#check repetitive values in original_language_id  --> drop column


nan_cols_film = data_original_film.isna().sum()
data_original_film.drop(['original_language_id'], axis=1, inplace= True)

In [68]:
#check repetitive values release_year --> drop column

check_dup = data_original_film['release_year'].value_counts() 
data_original_film.drop(['release_year'], axis=1, inplace= True)

In [84]:
#check repetitive values last_update --> drop column
check_las_update = data_original_film['last_update'].value_counts() 
data_original_film.drop(['last_update'], axis=1, inplace= True)

In [ ]:
#INVENTORY

In [13]:
data_original_inventory=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/inventory.csv",sep=',', encoding='latin-1')

In [85]:
#check repetitive values last_update --> drop column
check_dup_inventory = data_original_inventory['last_update'].value_counts() 
data_original_inventory.drop(['last_update'], axis=1, inplace= True)

In [126]:
data_original_inventory.head()

   inventory_id  film_id  store_id
0             1        1         1
1             2        1         1
2             3        1         1
3             4        1         1
4             5        1         2

In [ ]:
#LANGUAGE

In [15]:
data_original_language=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/language.csv",sep=',', encoding='latin-1')

In [72]:
#change column name from "name" to "language"
data_original_language.rename(columns = {'name':'language'}, inplace = True)

In [87]:
#check repetitive values last_update --> drop column
check_dup_language = data_original_language['last_update'].value_counts() 
data_original_language.drop(['last_update'], axis=1, inplace= True)

In [ ]:
#OLD_HDD

In [17]:
data_original_old_HDD=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/old_HDD.csv",sep=',', encoding='latin-1')

In [112]:
data_original_old_HDD.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [ ]:
#RENTAL

In [19]:
data_original_rental=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/rental.csv",sep=',', encoding='latin-1')

In [90]:
#check repetitive values last_update --> drop column
check_dup_rental = data_original_rental['last_update'].value_counts() 
data_original_rental.drop(['last_update'], axis=1, inplace= True)

In [ ]:
#importar CSV

In [ ]:
#ACTORES IMPORTAR // importaré una nueva version en doc "clean_2.0"

In [ ]:
data_original_actores=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/actor.csv",sep=',', encoding='latin-1')

In [113]:
data_original_actores.to_csv('actors.csv', index = False)

In [ ]:
#CATEGORY IMPORTAR

In [ ]:
data_original_category=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/category.csv",sep=',', encoding='latin-1')

In [114]:
data_original_category.to_csv('categories.csv', index = False)

In [125]:
data_original_category.head(16)

    category_id        genre
0             1       Action
1             2    Animation
2             3     Children
3             4     Classics
4             5       Comedy
5             6  Documentary
6             7        Drama
7             8       Family
8             9      Foreign
9            10        Games
10           11       Horror
11           12        Music
12           13          New
13           14       Sci-Fi
14           15       Sports
15           16       Travel

In [ ]:
#FILM IMPORTAR

In [ ]:
data_original_film=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/film.csv",sep=',', encoding='latin-1')

In [115]:
data_original_film.to_csv('films.csv', index = False)

In [ ]:
#INVENTORY IMPORTAR

In [ ]:
data_original_inventory=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/inventory.csv",sep=',', encoding='latin-1')

In [116]:
data_original_inventory.to_csv('inventory.csv', index = False)

In [ ]:
#LANGUAGE IMPORTAR

In [ ]:
data_original_language=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/language.csv",sep=',', encoding='latin-1')

In [117]:
data_original_language.to_csv('languages.csv', index = False)

In [ ]:
#OLD_HDD IMPORTAR

In [ ]:
data_original_old_HDD=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/old_HDD.csv",sep=',', encoding='latin-1')

In [118]:
data_original_old_HDD.to_csv('old_data.csv', index = False)

In [ ]:
#RENTAL IMPORTAR

In [ ]:
data_original_rental=pd.read_csv("/Users/jeffworker/Documents/GitHub/Bootcamp/Ejercicios/w3-database-project/data/rental.csv",sep=',', encoding='latin-1')

In [119]:
data_original_rental.to_csv('rentals.csv', index = False)